<ul class="archive w3-container">
{% for post in include.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}
    </ul>
  </li>
    {% endunless %}
  <li id="y{{post.date | date: "%Y"}}">{{ currentdate }}
    <ul>
    {% assign date = currentdate %}
  {% endif %}
      <li><!-- {{ post.date | date_to_string }}: --> <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}
    </ul>
  </li>
  {% endif %}
{% endfor %}
</ul>
