<div id="sharebuttons">
<div style="display: inline-block; vertical-align: top; margin-top: -2px;">
  <div class="fb-like" data-href="{{ include.permalink }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</div>
<div style="display: inline-block; vertical-align: top;">
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ include.permalink }}" data-via="{{ site.data.socialmedias["twitter"].user }}"></a>
</div>
<div style="display: inline-block; vertical-align: top;">
  <script type="IN/Share" data-url="{{ include.permalink }}" data-counter="right"></script>
</div>
<div style="display: inline-block; vertical-align: top;">
  <div class="g-plusone" data-size="medium" data-href="{{ include.permalink }}" data-annotation="bubble"></div>
</div>
</div>
